/** @format */

.theme {
  position: absolute;
  top: 3rem;
  right: 2rem;

  @media only screen and (max-width: $bp-large) {
    right: 10rem;
  }

  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__checkbox {
    display: none;
  }

  &__switch {
    width: 5rem;
    height: 2.5rem;
    border-radius: 25rem;
    background-color: var(--color-switch-bg);
    // background-color: #333;

    cursor: pointer;
    position: relative;

    transition: transform 0.3s ease-in;

    &::after {
      background-color: var(--color-switch);
      content: "";
      position: absolute;
      display: block;
      left: 0;

      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;

      transition: transform 0.2s ease-in;
    }
  }

  &__light,
  &__dark {
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
  }

  &__light {
    fill: rgb(255, 69, 0);
    filter: drop-shadow(0rem 0rem 5rem 1rem orangered);
  }

  &__dark {
    fill: #004fb0;
    filter: drop-shadow(1rem 1rem 5rem 1rem rgba(0, 0, 255, 0.5));
  }
}

.theme__checkbox:checked ~ .theme__switch::after {
  transform: translateX(2.5rem);
}
