/** @format */

.theme {
  position: absolute;
  top: 3rem;
  right: 2rem;

  @media only screen and (max-width: $bp-large) {
    right: 10rem;
  }

  &__icon {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &--light,
    &--dark {
      width: 75%;
      height: 75%;
    }

    &--light {
      fill: rgb(255, 69, 0);
      filter: drop-shadow(0rem 0rem 5rem 1rem orangered);
    }

    &--dark {
      fill: #004fb0;
      filter: drop-shadow(1rem 1rem 5rem 1rem rgba(0, 0, 255, 0.5));
    }
  }
}

.tog_theme {
  opacity: 0;
  display: none;
}
